spring:
  application:
    name: demo

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

#DB_HOST=127.0.0.1;
#DB_PORT=3306;
#DB_NAME=book;
#DB_USERNAME=root;
#DB_PASSWORD=password;
